<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key='selectListCount'>
		SELECT 
		 COUNT(*) "count"
		  FROM TB_BOARD
		 WHERE ((SUBSTR(BOARD_NO,1,1) = 'F')
		   OR (SUBSTR(BOARD_NO,1,1) ='N' AND BOARD_UP = 'Y'))
		   AND BOARD_STATUS = 'Y'
	</entry>
	<entry key='selectKeyWordCount'>
	SELECT 
	 COUNT(*) "COUNT"
	  FROM TB_BOARD
	 WHERE ((SUBSTR(BOARD_NO,1,1) = 'F')
	    OR (SUBSTR(BOARD_NO,1,1) ='N' AND BOARD_UP = 'Y'))
	   AND BOARD_STATUS = 'Y'
	   AND BOARD_TITLE LIKE ?
	</entry>
	<entry key='selectList'>
SELECT * 
  FROM(
        SELECT 
        ROWNUM RNUM
        , A.*
        FROM(SELECT 
             BOARD_NO
             , BOARD_TITLE
             , MEM_ID
             , BOARD_COUNT
             , TO_CHAR(CREATE_DATE,'YY/MM/DD HH24:MI') "CREATE_DATE"
             , NVL(COUNT,0) "COUNT"
             FROM TB_BOARD
             JOIN TB_MEMBER ON(WRITER = MEM_NO)
             LEFT JOIN (SELECT RE_REF_NO, COUNT(RE_NO) AS "COUNT" FROM TB_REVIEW_REPLY WHERE RE_STATUS='N' GROUP BY RE_REF_NO) ON(BOARD_NO = RE_REF_NO)
             WHERE ((SUBSTR(BOARD_NO,1,1) = 'F')
                OR (SUBSTR(BOARD_NO,1,1) ='N' AND BOARD_UP = 'Y'))
               AND BOARD_STATUS = 'Y'
             ORDER BY SUBSTR(BOARD_NO,1,1) DESC,CAST(SUBSTR(BOARD_NO,2) AS NUMBER) DESC,CREATE_DATE DESC
             ) A
             )
             WHERE RNUM BETWEEN ? AND ?
	</entry>
		<entry key='selectKeyWord'>
SELECT * 
  FROM(
        SELECT 
        ROWNUM RNUM
        , A.*
        FROM(SELECT 
             BOARD_NO
             , BOARD_TITLE
             , MEM_ID
             , BOARD_COUNT
             , TO_CHAR(CREATE_DATE,'YYYY/MM/DD HH24:MI') "CREATE_DATE"
             , NVL(COUNT,0) "COUNT"
             FROM TB_BOARD
             JOIN TB_MEMBER ON(WRITER = MEM_NO)
             LEFT JOIN (SELECT RE_REF_NO, COUNT(RE_NO) AS "COUNT" FROM TB_REVIEW_REPLY WHERE RE_STATUS='N' GROUP BY RE_REF_NO) ON(BOARD_NO = RE_REF_NO)
             WHERE ((SUBSTR(BOARD_NO,1,1) = 'F')
                OR (SUBSTR(BOARD_NO,1,1) ='N' AND BOARD_UP = 'Y'))
               AND BOARD_STATUS = 'Y'
             ORDER BY SUBSTR(BOARD_NO,1,1) DESC,CAST(SUBSTR(BOARD_NO,2) AS NUMBER) DESC, CREATE_DATE DESC
             ) A
             WHERE BOARD_TITLE LIKE ?
             )
             WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key='insertBoard'>
		INSERT
  		  INTO TB_BOARD
               (
                 BOARD_NO
               , BOARD_TITLE
               , WRITER
               , BOARD_CONTENT
               , BOARD_UP
               )
               VALUES
               (
                 ? ||SEQ_BNO.NEXTVAL
               , ?
               , ?
               , ?
               , ?
               )
	</entry>
		<entry key="insertFile">
		INSERT
		INTO TB_FILE
		(
		FILE_NO
		, ORIGIN_NAME
		, CHANGE_NAME
		, FILE_PATH
		, UPLOAD_DATE
		, REF_NO
		, FILE_LEVEL
		)
		VALUES
		(
		  SEQ_FILE.NEXTVAL
		, ?
		, ?
		, ?
		, SYSDATE
		, ? ||SEQ_BNO.CURRVAL
		, 2
		)
	</entry>
	<entry key='returnBoardNo'>
			SELECT BOARD_NO
			  FROM
			     (
			       SELECT 
			              BOARD_NO
			         FROM TB_BOARD
			        ORDER 
			           BY 
			              TO_CHAR(CREATE_DATE,'YY/MM/DD HH24:MI') DESC) A
			        WHERE ROWNUM = 1
	</entry>
	<entry key='insertHash'>
		INSERT
	  	  INTO TB_HASHTAG 
	           (
	             PLACE_NO
	           , HASHTAG_NAME
	           )
	           VALUES
	           (
	             ?
	           , ?
	           )
	</entry>
		<entry key='updateHash'>
		UPDATE
	  	       TB_HASHTAG 
	       SET   
	           HASHTAG_NAME = ?
	     WHERE
	           PLACE_NO = ?
	</entry>
		<entry key='checkyn'>
		SELECT COUNT(*) count FROM TB_HASHTAG WHERE PLACE_NO = ?
	</entry>
	
	<entry key="increaseCount">
		UPDATE 
		       TB_BOARD
		   SET
		       BOARD_COUNT = BOARD_COUNT + 1
		 WHERE 
		       SUBSTR(BOARD_NO,2) = ?
	</entry>
	<entry key="selectBoard">
		SELECT
		       BOARD_NO
		     , BOARD_TITLE
		     , MEM_ID
		     , BOARD_CONTENT
		     , BOARD_COUNT
		     , TO_CHAR(CREATE_DATE,'YY/MM/DD HH24:MI') AS "CREATE_DATE"
		     , HASHTAG_NAME
		     , COUNT
		     , WRITER
		     , BOARD_UP
		  FROM TB_BOARD
		  JOIN TB_MEMBER ON(WRITER = MEM_NO)
          LEFT JOIN (SELECT RE_REF_NO, COUNT(*) "COUNT" FROM TB_REVIEW_REPLY WHERE RE_STATUS = 'N' GROUP BY RE_REF_NO) ON(BOARD_NO = RE_REF_NO)
		  LEFT JOIN TB_HASHTAG ON(PLACE_NO = BOARD_NO)
		 WHERE SUBSTR(BOARD_NO,2) = ?
	</entry>
	<entry key='selectFileList'>
		SELECT
			FILE_NO
			, ORIGIN_NAME
			, CHANGE_NAME
			, FILE_PATH
			FROM TB_FILE
			WHERE REF_NO = ?
			AND STATUS = 'Y'
			ORDER BY CAST(FILE_NO AS NUMBER)
	</entry>
	
	<entry key='selectQuestion'>
		SELECT
		  QUESTION_NO
		, QUESTION_COMMENT
		, TO_CHAR(QUESTION_DATE,'YY/MM/DD HH24:MI') AS "QUESTION_DATE" 
		, ANSWER_WRITER
		, ANSWER_OR_NOT
		, ANSWER_CONTENT
		, TO_CHAR(ANSWER_DATE,'YY/MM/DD HH24:MI') AS "ANSWER_DATE" 
        , NICKNAME
		FROM TB_QUESTION
		left JOIN TB_ANSWER USING(QUESTION_NO)
        JOIN TB_MEMBER ON (QUESTION_WRITER = MEM_NO)
		WHERE QUESTION_WRITER = ?
		ORDER BY QUESTION_DATE DESC
	</entry>

<entry key='selectReplyList'>
	SELECT
	  RE_NO
	, RE_WRITER
	, RE_REF_NO
	, RE_CONTENT
	, RE_LIKE_STAR
	, RE_DATE
	, RE_STATUS
	, NICKNAME
	  FROM TB_REVIEW_REPLY
	  LEFT JOIN TB_MEMBER ON (RE_WRITER = MEM_NO)
	 WHERE RE_REF_NO = ?
	   AND RE_STATUS = 'N'
     ORDER BY CAST(SUBSTR(RE_NO,3) AS NUMBER)
</entry>
<entry key='insertReply'>
	INSERT 
	  INTO TB_REVIEW_REPLY
	            (
	              RE_NO
	            , RE_REF_NO
	            , RE_WRITER
	            , RE_CONTENT
	            )
	            VALUES
	            (
	            'RP'||SEQ_RVRP.NEXTVAL
	            , ?
	            , ?
	            , ?
	            )

</entry>

<entry key="minBo">
	SELECT 
       MIN(NUM) "minbo"
  FROM
     (
     SELECT 
            BOARD_NO
          , CAST(SUBSTR(BOARD_NO,2) AS NUMBER) AS "NUM"
       FROM TB_BOARD
       JOIN TB_MEMBER ON(WRITER = MEM_NO)
      WHERE ((SUBSTR(BOARD_NO,1,1) = 'F')
         OR (SUBSTR(BOARD_NO,1,1) ='N' AND BOARD_UP = 'Y'))
        AND BOARD_STATUS = 'Y'

      ORDER BY SUBSTR(BOARD_NO,1,1) DESC,CAST(SUBSTR(BOARD_NO,2) AS NUMBER) DESC,CREATE_DATE DESC 
      )

</entry>
<entry key="maxBo">
	SELECT 
       MAX(NUM) "maxbo"
  FROM
     (
     SELECT 
            BOARD_NO
          , CAST(SUBSTR(BOARD_NO,2) AS NUMBER) AS "NUM"
       FROM TB_BOARD
       JOIN TB_MEMBER ON(WRITER = MEM_NO)
      WHERE ((SUBSTR(BOARD_NO,1,1) = 'F')
         OR (SUBSTR(BOARD_NO,1,1) ='N' AND BOARD_UP = 'Y'))
        AND BOARD_STATUS = 'Y'

      ORDER BY SUBSTR(BOARD_NO,1,1) DESC,CAST(SUBSTR(BOARD_NO,2) AS NUMBER) DESC,CREATE_DATE DESC 
      )

</entry>
<entry key='prevNextBo'>
SELECT A.*
  FROM
     (
     SELECT 
            CAST(SUBSTR(BOARD_NO,2) AS NUMBER) "CNUM"
          , LAG(CAST(SUBSTR(BOARD_NO,2) AS NUMBER),1) OVER(ORDER BY CAST(SUBSTR(BOARD_NO,2) AS NUMBER)) prev
          , LEAD(CAST(SUBSTR(BOARD_NO,2) AS NUMBER),1) OVER(ORDER BY CAST(SUBSTR(BOARD_NO,2) AS NUMBER)) next
       FROM TB_BOARD
       JOIN TB_MEMBER ON(WRITER = MEM_NO)
      WHERE ((SUBSTR(BOARD_NO,1,1) = 'F')
         OR (SUBSTR(BOARD_NO,1,1) ='N' AND BOARD_UP = 'Y'))
        AND BOARD_STATUS = 'Y'
      ORDER BY SUBSTR(BOARD_NO,1,1) DESC,CAST(SUBSTR(BOARD_NO,2) AS NUMBER) DESC,CREATE_DATE DESC
      ) A
  WHERE CNUM = ?

</entry>
	<entry key='selectAllList'>
        SELECT 
        ROWNUM RNUM
        , A.*
        FROM(SELECT 
             BOARD_NO
             , BOARD_TITLE
             , MEM_ID
             , BOARD_COUNT
             , TO_CHAR(CREATE_DATE,'YYYY/MM/DD HH24:MI') "CREATE_DATE"
             , NVL(COUNT,0) "COUNT"
             FROM TB_BOARD
             JOIN TB_MEMBER ON(WRITER = MEM_NO)
             LEFT JOIN (SELECT RE_REF_NO, COUNT(RE_NO) AS "COUNT" FROM TB_REVIEW_REPLY WHERE RE_STATUS='N' GROUP BY RE_REF_NO) ON(BOARD_NO = RE_REF_NO)
             WHERE ((SUBSTR(BOARD_NO,1,1) = 'F')
                OR (SUBSTR(BOARD_NO,1,1) ='N' AND BOARD_UP = 'Y'))
               AND BOARD_STATUS = 'Y'
             ORDER BY CAST(SUBSTR(BOARD_NO,2) AS NUMBER) DESC,CREATE_DATE DESC
             ) A

	</entry>
		<entry key='deleteBoard'>
        UPDATE 
		       TB_BOARD 
		   SET 
		       BOARD_STATUS = 'N' 
		 WHERE BOARD_NO = ?

	</entry>
	
<entry key="myBoardSelect">
SELECT
      BOARD_NO
    , BOARD_TITLE
    , BOARD_CONTENT
    , TO_CHAR(CREATE_DATE,'YY-MM-DD') CREATE_DATE
    , BOARD_COUNT
    , '/'||FILE_PATH||'/'||CHANGE_NAME BOARD_IMG
    , HASHTAG_NAME
FROM TB_BOARD
LEFT JOIN TB_FILE ON (REF_NO = BOARD_NO)
LEFT JOIN TB_HASHTAG ON (REF_NO = PLACE_NO)
WHERE WRITER = ?
AND BOARD_NO LIKE 'F%'
AND (FILE_LEVEL != 1 OR FILE_LEVEL IS NULL)
</entry>
<entry key="selectAttachmentList">
SELECT 
       FILE_NO
     , ORIGIN_NAME
     , CHANGE_NAME
     , FILE_PATH
  FROM 
       TB_FILE
 WHERE REF_NO = ?
   AND STATUS = 'Y'
 ORDER BY FILE_NO

</entry>

<entry key='selectHashTag'>
	
SELECT 
       PLACE_NO
     , HASHTAG_NAME
  FROM TB_HASHTAG
 WHERE PLACE_NO = ?

</entry>
<entry key='updateBoard'>
UPDATE 
       TB_BOARD 
   SET 
       BOARD_TITLE = ?
     , BOARD_CONTENT = ?
     , BOARD_UP = ?
 WHERE BOARD_NO = ? 

</entry>

<entry key='deleteReply'>
UPDATE
       TB_REVIEW_REPLY
   SET 
       RE_STATUS = 'Y'
 WHERE
       SUBSTR(RE_NO,1) = ?

</entry>

<entry key='updateFile'>
UPDATE
       TB_FILE
   SET 
       FILE_NO = ?
     , ORIGIN_NAME = ?
     , CHANGE_NAME = ?
     , FILE_PATH = ?
     , UPLOAD_DATE = SYSDATE 
 WHERE
       FILE_NO = ?
</entry>
<entry key='updateFileStatus'>
UPDATE
       TB_FILE
   SET 
       STATUS = ?
     , UPLOAD_DATE = SYSDATE 
 WHERE
       FILE_NO = ?
</entry>
<!--<entry key='selectFile'>
		SELECT
			FILE_NO
			, ORIGIN_NAME
			, CHANGE_NAME
			, FILE_PATH
			FROM TB_FILE
			WHERE FILE_NO = ?
			AND STATUS = 'Y'
	</entry>  -->	
	
	<entry key='insertFile2'>
		INSERT
		INTO TB_FILE
		(
		FILE_NO
		, ORIGIN_NAME
		, CHANGE_NAME
		, FILE_PATH
		, UPLOAD_DATE
		, REF_NO
		)
		VALUES
		(
		  SEQ_FILE.NEXTVAL
		, ?
		, ?
		, ?
		, SYSDATE
		, ?
		)
	</entry>
		<entry key='replyLikeUp'>
INSERT
  INTO
        TB_LIKE
   	  (
   	    MEM_NO
   	  , BOARD_NO
   	  )
 VALUES
 	  (
 	    ?
 	  , ?
 	  )  	  
	</entry>
	
<entry key='replyLikeDown'>
		DELETE
		        TB_LIKE
		 WHERE
		       MEM_NO = ?
		   AND
		       BOARD_NO = ?
	</entry>
	
	<entry key='replyLikeCount'>
	      SELECT
	       COUNT(*) count
			  FROM 
			       TB_LIKE
			 WHERE BOARD_NO = ?
	</entry>
	<entry key='updateReplyCount'>
UPDATE
       TB_REVIEW_REPLY
   SET 
       RE_LIKE_STAR= (           
                     SELECT
                            COUNT(*) count
                       FROM 
                            TB_LIKE
                      WHERE 
                            BOARD_NO = ?
                      )
WHERE RE_NO = ?
	</entry>
	
<!--  <entry key='replyLikeCount'>
    SELECT
       COUNT(RE_LIKE_STAR) count
  FROM TB_REVIEW_REPLY 
 WHERE RE_NO = ?
	</entry> -->
	<!-- 
	<entry key='updateLike'>

INSERT 
  INTO TB_LIKE
       (
         MEM_NO
       , BOARD_NO
       )
       VALUES
       (
         ?
       , ?
       )
	</entry>
	
	 -->
	 <!-- 
	<entry key='deleteLike'>
		DELETE
		        TB_LIKE
		 WHERE
		       MEM_NO = ?
		   AND
		       BOARD_NO = ?

	</entry>
	 
	  -->
	<entry key='selectLikeList'>
		SELECT 
       BOARD_NO likeno
  FROM TB_LIKE
 WHERE MEM_NO = ?

	</entry>
</properties>