<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key='selectMemberListCount'>
      SELECT 
       COUNT(*) "count"
        FROM TB_MEMBER
       WHERE NOT MEM_STATUS IN('A')
</entry>

<entry key="selectAdminList">
   SELECT *
FROM (
SELECT ROWNUM RNUM, A.*
FROM (
SELECT
        MEM_NO
    ,   MEM_ID
    ,   MEM_NAME
    ,   NICKNAME
    ,   GRADE
    ,   MEM_POINT
    ,   MEM_VISIT
    ,   EMAIL
  FROM  TB_MEMBER
  ORDER BY SUBSTR(MEM_NO,1,1) DESC,CAST(SUBSTR(MEM_NO,2) AS NUMBER) DESC
  ) A
  )
  WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key='selectMemberKeyWordCount'>
      SELECT 
       COUNT(*) "count"
        FROM TB_MEMBER
       WHERE NOT MEM_STATUS IN('A')
       AND MEM_NAME LIKE ?
</entry>

<entry key="selectAdminKeyWord">
   SELECT *
FROM (
SELECT ROWNUM RNUM, A.*
FROM (
SELECT
        MEM_NO
    ,   MEM_ID
    ,   MEM_NAME
    ,   NICKNAME
    ,   GRADE
    ,   MEM_POINT
    ,   MEM_VISIT
    ,   EMAIL
  FROM  TB_MEMBER
  ORDER BY SUBSTR(MEM_NO,1,1) DESC,CAST(SUBSTR(MEM_NO,2) AS NUMBER) DESC
  ) A
  WHERE MEM_NAME LIKE ?
  )
  WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReportListCount">
   SELECT 
       COUNT(*) "count"
        FROM TB_REPORT
</entry>

<entry key="selectReportList">
   SELECT *
FROM (
SELECT ROWNUM RNUM, A.*
FROM (
SELECT
        REPORT_NO
    ,   REPORTER
    ,   REPORTED
    ,   REPORT_CATEGORY
    ,   REPORT_DATE
    ,   REPORT_COMPLITE
    ,   REPORT_STATUS
  FROM  TB_REPORT
  ORDER BY SUBSTR(REPORT_NO,1,1) DESC,CAST(SUBSTR(REPORT_NO,2) AS NUMBER) DESC
  ) A
  )
  WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="deleteReportMember">
	UPDATE TB_MEMBER
      SET MEM_STATUS = 'N'
    WHERE MEM_ID = ?
</entry>

<entry key="updateMember">
<![CDATA[
   UPDATE TB_MEMBER
SET MEM_POINT = ?,
    GRADE = (
        CASE
            WHEN MEM_POINT >= 0 AND MEM_POINT <= 50 THEN '씨앗'
            WHEN MEM_POINT >= 51 AND MEM_POINT <= 101 THEN '잔디'
            WHEN MEM_POINT >= 101 AND MEM_POINT <= 200 THEN '새싹'
            WHEN MEM_POINT >= 201 AND MEM_POINT <= 30000 THEN '벚꽃'
            WHEN MEM_POINT >= 30001 AND MEM_POINT <= 99999 THEN '무궁화'
            ELSE GRADE
        END
    )
WHERE MEM_ID = ?
]]>
</entry>

<entry key="insertMember">
INSERT INTO TB_MEMBER (
    MEM_NO
    ,GRADE
    ,MEM_ID
    ,MEM_PWD
    ,MEM_NAME
    ,NICKNAME
    ,EMAIL
    ,MBTI
    ,MEM_PHONE
    ,MEM_BIRTHDAY,MEM_POINT
)
VALUES (
    'M'||(SEQ_MNO.NEXTVAL)
    ,DEFAULT
    ,?  
    ,? 
    ,? 
    ,? 
    ,?
    ,? 
    ,? --주석
    ,'1988-01-09' 
    ,DEFAULT
)
</entry>

<entry key="loginMember">
SELECT 
    MEM_NO
   ,GRADE
   ,MEM_ID
   ,MEM_PWD
   ,NICKNAME
   ,MEM_NAME
   ,EMAIL
   ,MBTI
   ,MEM_PHONE
   ,ENROLL_DATE
   ,MEM_STATUS
   ,MEM_VISIT
   ,TO_CHAR(MEM_BIRTHDAY, 'YYYY-MM-DD') "MEM_BIRTHDAY"
   ,MEM_POINT
   ,'/' || FILE_PATH || '/' || CHANGE_NAME AS "TITLEIMG"
   ,FILE_LEVEL
FROM TB_MEMBER
LEFT JOIN TB_FILE ON (MEM_NO = REF_NO)
WHERE MEM_ID = ?
AND MEM_PWD = ?
</entry>

<entry key="selectReviewReply">
   SELECT
      RE_NO
    , RE_REF_NO
    , RE_WRITER
    , NICKNAME
    , RE_CONTENT
    , RE_LIKE_STAR
    , RE_DATE
    , RE_LEVEL
   FROM TB_REVIEW_REPLY
   JOIN TB_MEMBER ON (MEM_NO = RE_WRITER)
   WHERE RE_ORIGIN_WRITER = ?
     AND RE_STATUS = 'N'
   ORDER
      BY RE_DATE DESC
</entry>

<entry key="selectReviewReply1">
SELECT
      RE_REF_NO
    , RE_NO  
    , RE_CONTENT  
    , NICKNAME
    , TO_CHAR(RE_DATE,'YY/MM/DD') RE_DATE
    , '/'||FILE_PATH||'/'||CHANGE_NAME IMG_PATH
    , FILE_LEVEL
FROM TB_REVIEW_REPLY
LEFT JOIN TB_MEMBER ON (MEM_NO = RE_WRITER)
LEFT JOIN TB_PLACE P ON (RE_REF_NO = PLACE_NO)
LEFT JOIN TB_BOARD B ON (RE_REF_NO = BOARD_NO)
LEFT JOIN TB_FILE F ON (RE_WRITER = REF_NO)
WHERE P.WRITER = ? 
OR B.WRITER = ?
ORDER BY RE_DATE DESC  
</entry>

<entry key="insertAttachment">
INSERT INTO TB_FILE(
    FILE_NO
   ,ORIGIN_NAME
   ,CHANGE_NAME
   ,FILE_PATH
   ,UPLOAD_DATE
   ,REF_NO
   )
   VALUES(
   SEQ_FILE.NEXTVAL
   ,?
   ,?
   ,?
   ,SYSDATE
   ,'M' || SEQ_MNO.CURRVAL 
)
</entry>

<entry key="insertMemberDetailAttachment">
INSERT INTO TB_FILE(
    FILE_NO
   ,ORIGIN_NAME
   ,CHANGE_NAME
   ,FILE_PATH
   ,UPLOAD_DATE
   ,REF_NO
   )
   VALUES(
   SEQ_FILE.NEXTVAL
   ,?
   ,?
   ,?
   ,SYSDATE
   ,? 
)
</entry>

<entry key="updatePwd">
UPDATE TB_MEMBER
SET MEM_PWD = ?
WHERE MEM_ID = ?
AND MEM_PWD = ?
</entry>

<entry key="selectMember">
SELECT 
    MEM_NO
   ,GRADE
   ,MEM_ID
   ,MEM_PWD
   ,NICKNAME
   ,MEM_NAME
   ,EMAIL
   ,MBTI
   ,MEM_PHONE
   ,ENROLL_DATE
   ,MEM_STATUS
   ,MEM_VISIT
   ,TO_CHAR(MEM_BIRTHDAY, 'YYYY-MM-DD') "MEM_BIRTHDAY"
   ,MEM_POINT
FROM TB_MEMBER
WHERE MEM_ID = ?
AND MEM_STATUS != 'N'
</entry>

<entry key="myDetailUpdate">
   UPDATE TB_MEMBER
      SET NICKNAME = ?
        , EMAIL = ?
        , MBTI = ?
        , MEM_PHONE = ?
        , MEM_BIRTHDAY = TO_DATE(?, 'YYYY-MM-DD')
    WHERE MEM_ID = ?
</entry>

<entry key="updateAttachment">
   UPDATE TB_FILE
      SET ORIGIN_NAME = ?
        , CHANGE_NAME = ?
        , FILE_PATH = ?
    WHERE REF_NO = ?
</entry>

<entry key="updateStatus">
   UPDATE TB_MEMBER
      SET MEM_STATUS = 'N'
    WHERE MEM_ID = ?
      AND MEM_PWD = ?
</entry>

<entry key="idCheck">
SELECT MEM_NO
FROM TB_MEMBER
WHERE MEM_ID = ?
</entry>

</properties>